<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link href="/css/styles_productDetail.css" rel="stylesheet">  
    <title>.:Detalle del producto:.</title>
</head>

<body>
    <%- include('../partials/header') %>

    <main>
        <nav class="route">
            <ul>
                <li><a href="/">Inicio /</a></li>
                <li><a href="#"><%= detalleProducto.category %> /</a></li>
                <li><a href="#"><%= detalleProducto.classification %> /</a></li>
                <li><a href="#"><%= detalleProducto.title %></a></li>
            </ul>
        </nav>

    

        <div class="productSelected">
            <div class="preview">
                <i class="fa-solid fa-angle-up"></i>
                
                <img src="/img/products/<%= detalleProducto.images[1]%> " alt="preview1">
                <img src="/img/products/<%= detalleProducto.images[2]%> " alt="preview2">
                <img src="/img/products/<%= detalleProducto.images[3]%> " alt="preview3">
                <i class="fa-solid fa-angle-down"></i>
            </div>
            <img class="photo" src="/img/products/<%= detalleProducto.images[0]%>" alt="photo">
            <div class="details">
                <div class="root">
                    <a href="/products/edition/<%= detalleProducto.idProduct %>"><i class="fa-solid fa-wand-magic-sparkles"></i></a>
                    <form action="/products/detail/<%= detalleProducto.idProduct %>?_method=DELETE" method="POST">
                        <button type="submit"><i class="fa-solid fa-trash-can"></i></button>
                    </form>
                </div>
                
                <h1><%= detalleProducto.title%></h1>
                <h2>$ <%= detalleProducto.price%></h2>
                <p><%= detalleProducto.smallDescription%></p>
                <a href="#">Ver más detalles</a>
                <p class="available">Disponible</p>
                <form class="selection" action="#" method="post">
                    <div>
                       <label>Cantidad</label>
                        <select name="quantity" id="quantity">
                            <% for (let i = 1; i <= detalleProducto.units; i++) {%>
                            <option value="<%= i %>"><%= i %></option>
                            <% } %>
                        </select> 
                    </div>

                    <div>
                       <label>Color</label>
                        <select name="color" id="color">
                            <% for (let i = 0; i < detalleProducto.colors.length; i++) {%>
                            <option value="<%= detalleProducto.colors%>"><%= detalleProducto.colors[i]%></option>
                            <% } %>
                        </select> 
                    </div>

                    <div>
                       <label for="size">Tamaño</label>
                        <select name="size" id="size">
                            <% for (let i = 0; i < detalleProducto.size.length; i++) {%>
                            <option value="<%= detalleProducto.size[i]%>"><%= detalleProducto.size[i]%></option>
                            <% } %>
                        </select> 
                    </div>
                    <button class="complete" type="submit"><i class="fa-solid fa-cart-plus"></i> Añadir al carrito</button>
                    <button class="onlyCart" type="submit"><i class="fa-solid fa-cart-plus"></i></button>
                </form>
            </div>
        </div>
        <div class="moreDetails">
            <article class="description">
                <h2>Descripción</h2>
                <p><%= detalleProducto.detailedDescription%></p>
                <% if(detalleProducto.url != null){ %>               
                <iframe width="420" height="250" src="<%= detalleProducto.url%>"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                    <% } %>
            </article>
            
            <article class="factSheet">
                <h2>Ficha Técnica</h2>
                <div class="features">
                    <div>
                        <span>Clasificación</span>
                        <span>Referencia</span>
                    </div>
                    <div>
                      <span><%= detalleProducto.classification%></span>
                      <span><%= detalleProducto.reference%></span>  
                    </div>
                </div>
            </article>
        </div>
     

        <div class="related">

            <!--PRODUCTOS FOOTER-->
            <h2>Productos Relacionados</h2>
            <div class="relatedProducts">
                <i class="fa-solid fa-angle-left"></i>
                <a href="/productDetail/1">
                    <article class="product">
                        <img src="/img/products/carrete-spinning-daiwa-sweepfire.jpg" alt="producto1">
                        <h3>Carrete Daiwa Sweepfire</h3>
                        <p>$ 110.000</p>
                        <form class="selection1" action="#" method="get">
                            <div>
                                <select name="color" id="color">
                                    <option value="#FF0000">Rojo</option>
                                    <option value="#008000">Verde</option>
                                    <option value="#0000FF">Azul</option>
                                </select>
                                
                                <select name="quantity" id="quantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div>
                                <select name="size" id="size">
                                    <option value="3000">3000</option>
                                    <option value="4000">4000</option>
                                    <option value="4500">4500</option>
                                    <option value="5500">5500</option>
                                    <option value="6500">6500</option>
                                </select>

                                <button type="submit"><i class="fa-solid fa-cart-plus"></i></button>
                            </div> 
                        </form>
                    </article>
                </a>
                <a href="/productDetail/1">
                    <article class="product">
                        <img src="/img/products/carretel-shimano-sienna-fg-4-balineras_1.jpg" alt="producto2">
                        <h3>Carrete Shimano Sienna</h3>
                        <p>$ 198.000</p>
                        <form class="selection1" action="#" method="get">
                            <div>
                                <select name="color" id="color">
                                    <option value="#FF0000">Rojo</option>
                                    <option value="#008000">Verde</option>
                                    <option value="#0000FF">Azul</option>
                                </select>
                                
                                <select name="quantity" id="quantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div>
                                <select name="size" id="size">
                                    <option value="3000">3000</option>
                                    <option value="4000">4000</option>
                                    <option value="4500">4500</option>
                                    <option value="5500">5500</option>
                                    <option value="6500">6500</option>
                                </select>
                                
                                <button type="submit"><i class="fa-solid fa-cart-plus"></i></button>
                            </div>
                        </form>
                    </article>
                </a>
                <a href="/productDetail/1">
                    <article class="product">
                        <img src="/img/products/cana-okuma-competition-casting.jpg" alt="producto3">
                        <h3>Caña Okuma Competition</h3>
                        <p>$ 128.700</p>
                        <form class="selection1" action="#" method="get">
                            <div>
                                <select name="color" id="color">
                                    <option value="#FF0000">Rojo</option>
                                    <option value="#008000">Verde</option>
                                    <option value="#0000FF">Azul</option>
                                </select>
                                
                                <select name="quantity" id="quantity">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div>
                                <select name="size" id="size">
                                    <option value="3000">3000</option>
                                    <option value="4000">4000</option>
                                    <option value="4500">4500</option>
                                    <option value="5500">5500</option>
                                    <option value="6500">6500</option>
                                </select>
                                
                                <button type="submit"><i class="fa-solid fa-cart-plus"></i></button>
                            </div>
                        </form>
                    </article>
                </a>
                <i class="fa-solid fa-angle-right"></i>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>