<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link href="/css/styles_productDetail.css" rel="stylesheet">
        <title>.:Detalle del producto:.</title>
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <nav class="route">
                <ul>
                    <li><a href="/">Inicio /</a></li>
                    <li><a href="/products/<%= productSelected.Class.category%>">
                        <%= productSelected.Class.category%> /
                        </a></li>
                    <li><a href="#">
                        <%= productSelected.Class.name%> /
                        </a></li>
                    <li><a>
                        <%= productSelected.title%>
                        </a></li>
                </ul>
            </nav>

            <div class="productSelected">
                <div class="preview">
                    <% for (let i=1; i < productSelected.Images.length; i++) { %>
                        <img src="/img/products/<%= productSelected.Images[i].name%> " alt="preview">
                    <% }%>
                </div>
                <img class="photo" src="/img/products/<%= productSelected.Images[0].name%>" alt="photo">


                <div class="details">
                    <% if(locals.rootUser) { %>
                        <div class="root">
                            <a href="/products/edit/<%= productSelected.id %>"><i class="fa-solid fa-wand-magic-sparkles"></i></a>
                            <form action="/products/delete/<%= productSelected.id %>?_method=DELETE" method="POST">
                                <button type="submit"><i class="fa-solid fa-trash-can"></i></button>
                            </form>
                        </div>
                    <% } %>
                    <h1>
                        <%= productSelected.title%>
                    </h1>
                    <h2>$ <%= productSelected.price%>
                    </h2>
                    <p>
                        <%= productSelected.smallDescription%>
                    </p>
                    <a href="#">Ver más detalles</a>
                    <p class="available">Disponible</p>
                    <form class="selection" action="#" method="post">
                        <div>
                            <label>Cantidad</label>
                            <select name="quantity" id="quantity">
                                <% for (let i=1; i <= productSelected.units; i++) {%>
                                    <option value="<%= i %>">
                                        <%= i %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>

                        <div>
                            <label>Color</label>
                            <select name="color" id="color">
                                <% let arrayColors = productSelected.colors.split(',')
                                for (let c=0; c < arrayColors.length; c++) {%>
                                    <option value="<%= arrayColors[c]%>">
                                        <%= arrayColors[c]%>
                                    </option>
                                <% } %>
                            </select>
                        </div>

                        <div>
                            <label for="size">Tamaño</label>
                            <select name="size" id="size">
                                <% let arraySizes = productSelected.sizes.split(',')
                                for (let s = 0; s < arraySizes.length; s++) {%>
                                    <option value="<%= arraySizes[s]%>"><%= arraySizes[s]%></option>
                                <% } %>
                            </select>
                        </div>
                        <button class="complete" type="submit"><i class="fa-solid fa-cart-plus"></i> Añadir al carrito</button>
                        <button class="onlyCart" type="submit"><i class="fa-solid fa-cart-plus"></i></button>
                    </form>
                </div>
            </div>
            <div class="moreDetails">
                <article class="description">
                    <h2>Descripción</h2>
                    <p>
                        <%= productSelected.detailedDescription%>
                    </p>
                    <br>
                    <% if(productSelected.url !=null){ %>
                        <iframe width="420" height="250" src="<%= productSelected.url%>" title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    <% } %>
                </article>

                <article class="factSheet">
                    <h2>Ficha Técnica</h2>
                    <div class="features">
                        <div>
                            <span>Clasificación</span>
                            <span>Referencia</span>
                        </div>
                        <div>
                            <span>
                                <%= productSelected.Class.name%>
                            </span>
                            <span>
                                <%= productSelected.reference%>
                            </span>
                        </div>
                    </div>
                </article>
            </div>

            <div class="related">
                <h2>Productos relacionados</h2>

                <%- include('../partials/productBox') %>
            </div>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>