<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link href="/css/styles_register.css" rel="stylesheet">
    <title>.:Registro:.</title>
</head>

<body>
    <%- include('../partials/header') %>

    <main>
        <div class="form-register">
            <form class="formularios userForm" action="/users/register" method="POST" enctype="multipart/form-data">
                <h2>Crear una cuenta</h2>
                <div>
                    <input
                        id="name" 
                        type="text" 
                        name="name" 
                        placeholder="Nombre y apellidos" 
                        class="formulario-registro <%= (locals.errors && errors.name) ? 'is-invalid' : null %>"
                        value="<%= locals.oldData ? oldData.name : "" %>"
                    >
                    <span class="errorFront errorName"></span>
                    <% if(locals.errors && errors.name){ %>
                        <div class="text-danger">
                            <%= errors.name.msg %>
                        </div>
                    <% } %>
                </div>

                <div>
                    <input 
                        id="user"
                        type="text" 
                        name="user" 
                        placeholder="Nombre de usuario" 
                        class="formulario-registro <%= (locals.errors && errors.user) ? 'is-invalid' : null %>"
                        value="<%= locals.oldData ? oldData.user : "" %>"
                    >
                    <span class="errorFront errorUser"></span>
                    <% if(locals.errors && errors.user){ %>
                        <div class="text-danger">
                            <%= errors.user.msg %>
                        </div>
                    <% } %>
                </div>

                <div>
                    <input 
                        id="email"
                        type="text" 
                        name="email" 
                        placeholder="Email" 
                        class="formulario-registro <%= (locals.errors && errors.email) ? 'is-invalid' : null %>"
                        value="<%= locals.oldData ? oldData.email : "" %>"
                    >
                    <span class="errorFront errorEmail"></span>
                    <% if(locals.errors && errors.email){ %>
                        <div class="text-danger">
                            <%= errors.email.msg %>
                        </div>
                    <% } %>
                </div>

                <div>
                    <label class="titulos-formulario">Fecha de Nacimiento</label>
                    <input 
                        id="dob"
                        type="date" 
                        name="dob" 
                        class="formulario-registro <%= (locals.errors && errors.dob) ? 'is-invalid' : null %>"
                        value="<%= locals.oldData ? oldData.dob : "" %>"
                    >
                    <span class="errorFront errorDob"></span>
                    <% if(locals.errors && errors.dob){ %>
                        <div class="text-danger">
                            <%= errors.dob.msg %>
                        </div>
                    <% } %>
                </div>

                <div>
                    <input
                        id="address" 
                        type="text" 
                        name="address" 
                        placeholder="Dirección" 
                        class="formulario-registro <%= (locals.errors && errors.address) ? 'is-invalid' : null %>"
                        value="<%= locals.oldData ? oldData.address : "" %>"
                    >                     
                    <% if(locals.errors && errors.address){ %>
                        <div class="text-danger">
                            <%= errors.address.msg %>
                        </div>
                    <% } %>
                </div>

                <div>
                    <label class="titulos-formulario">Foto de usuario</label>
                    <input
                        id="photo"
                        type="file" 
                        name="photo" 
                        class="formulario-registro <%= (locals.errors && errors.photo) ? 'is-invalid' : null %>"
                        value="<%= locals.oldData ? oldData.photo : "" %>"
                    >
                    <span class="errorFront errorPhoto"></span>
                    <% if(locals.errors && errors.photo){ %>
                        <div class="text-danger">
                            <%= errors.photo.msg %>
                        </div>
                    <% } %>
                </div>

                <div>
                    <input
                        id="password" 
                        type="password" 
                        name="password" 
                        placeholder="Contraseña" 
                        class="formulario-registro <%= (locals.errors && errors.password) ? 'is-invalid' : null %>"
                        value="<%= locals.oldData ? oldData.password : "" %>"
                    >
                    <span class="errorFront errorPassword"></span>
                    <% if(locals.errors && errors.password){ %>
                        <div class="text-danger">
                            <%= errors.password.msg %>
                        </div>
                    <% } %>
                </div>

                <div>
                    <input
                        id="confirmPassword" 
                        type="password" 
                        name="confirmPassword" 
                        placeholder="Confirmar contraseña" 
                        class="formulario-registro <%= (locals.errors && errors.confirmPassword) ? 'is-invalid' : null %>"
                        value="<%= locals.oldData ? oldData.confirmPassword : "" %>"
                    >
                    <span class="errorFront errorConfirmPassword"></span>
                    <% if(locals.errors && errors.confirmPassword){ %>
                        <div class="text-danger">
                            <%= errors.confirmPassword.msg %>
                        </div>
                    <% } %>
                </div>

                <div class="terminos-condiciones">
                    <input id="terminos" type="checkbox" name="terminos">
                    <p>Al continuar, aceptas las <a href="#">condiciones de uso</a> y la <a href="#">política de privacidad.</a></p>
                </div>
                <button type="reset">Borrar</button>
                <button id="btn" type="submit">Enviar</button>
            </form>
        </div>
    </main>

    <%- include('../partials/footer') %>
    <script src="/js/userValidations.js"></script>
</body>
</html>