<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link href="/css/styles_home.css" rel="stylesheet">
    <title>.:Home:.</title>
</head>

<body>
    <!-- Seccion de la cabecera-->
    <%- include('../partials/header') %>

    <!-- Seccion del cuerpo-->
    <main>
        <div class="carrusel">
            <div class="slide1"><img src="/img/Slide1.jpg" alt="señuelos"></div>
            <div class="slide2"><img src="/img/Slide2.jpg" alt="pescando"></div>
            <div class="slide3"><img src="/img/Slide3.jpg" alt="carpas"></div>
        </div>
        <div class="categories">
            <div class="categories-img">
                <img src="/img/Category-camping.jpg" alt="camping">
                <img src="/img/Category-fishing.jpg" alt="fishing">
            </div>
            <div class="categories-letra">
                <h3>Camping</h3>
                <h3>Pesca </h3>
            </div> 
        </div>
        

        <!-- productos destacados -->
        <div class="related">
            <h2>Productos Destacados</h2>

            <div class="relatedProducts">
                <i class="arrow" class="fa-solid fa-angle-left"></i>
                <% for(i=0 ; i < productosPesca.length ; i ++) {%>
                    <% if(productosPesca[i].idProducto<=4){%>
                        <a href="/products/detail/<%= productosPesca[i].idProducto %>">
                            <article class="product">
                                <img src="<%= productosPesca[i].rutaImagen %>" alt="producto5">
                                <h3>
                                    <%= productosPesca[i].nombre%>
                                </h3>
                                <p>
                                    <%= productosPesca[i].precio%>
                                </p>
                                <form class="selection1" action="#" method="get">
                                    <div>
                                        <select name="color" id="color">
                                            <option value="#FF0000">Rojo</option>
                                            <option value="#008000">Verde</option>
                                            <option value="#0000FF">Azul</option>
                                        </select>
                
                                        <select name="quantity" id="quantity">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                    <div>
                                        <select name="size" id="size">
                                            <option value="3000">3000</option>
                                            <option value="4000">4000</option>
                                            <option value="4500">4500</option>
                                            <option value="5500">5500</option>
                                            <option value="6500">6500</option>
                                        </select>
                
                                        <button type="submit"><i class="fa-solid fa-cart-plus"></i></button>
                                    </div>
                                </form>
                            </article>
                        </a>
                        
                    <% } %>
                <% } %>
                <i class="arrow" class="fa-solid fa-angle-right"></i>
            </div>
        </div>

        <!-- productos nuevos -->
        <div class="related">
            <h2>Nuevos Productos</h2>

            <div class="relatedProducts">
                <i class="arrow" class="fa-solid fa-angle-left"></i>

                <% for(i=0 ; i < productosPesca.length ; i ++) {%>
                    <% if(productosPesca[i].idProducto>4){%>
                        <a href="/products/detail/<%= productosPesca[i].idProducto %>">
                            <article class="product">
                                <img src="<%= productosPesca[i].rutaImagen %>" alt="producto5">
                                <h3><%= productosPesca[i].nombre%></h3>
                                <p><%= productosPesca[i].precio%></p>
                                <form class="selection1" action="#" method="get">
                                    <div>
                                        <select name="color" id="color">
                                            <option value="#FF0000">Rojo</option>
                                            <option value="#008000">Verde</option>
                                            <option value="#0000FF">Azul</option>
                                        </select>
                                        
                                        <select name="quantity" id="quantity">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                    <div>
                                        <select name="size" id="size">
                                            <option value="3000">3000</option>
                                            <option value="4000">4000</option>
                                            <option value="4500">4500</option>
                                            <option value="5500">5500</option>
                                            <option value="6500">6500</option>
                                        </select>

                                        <button type="submit"><i class="fa-solid fa-cart-plus"></i></button>
                                    </div> 
                                </form>
                            </article>
                        </a>
                        
                    <% } %>
                <% } %>
                <i class="arrow" class="fa-solid fa-angle-right"></i>
            </div>
        </div>

        <div class="consejo">
            <h2>Nuestro Blog</h2>
            <img src="/img/tackle-box-gf4ad29459_1280.jpg" alt="box">
            <div>
                <p>Conoce trucos, técnicas y consejos</p>
                <button type="submit">Aprende mas</button> 
            </div>
        </div>
        
    </main>

    <!-- Seccion del pie de pagina-->
    <%- include('../partials/footer') %>

</body>

</html>